* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

 
.left-image {
  flex: 1;
  background-image: url("https://images.pexels.com/photos/35293768/pexels-photo-35293768.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 110px;
  
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 18px;
  opacity: 0.9;
}

 
.right-content {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
